.ProseMirror {
	outline: none;
	font-size: 1rem;
	height: 100%;
	font-family: monospace;
}

.block {
	font-size: 1rem;
	line-height: 1.3rem;
	white-space: pre-wrap;
	tab-size: 4;
	-moz-tab-size: 4;
	-webkit-tab-size: 4;
	-ms-tab-size: 4;
	padding-top: .3rem;
	padding-bottom: .3rem;
}

.hashtag, .button.hashtag {
	color: #058eef;
}

.unset-color .hashtag,
.unset-color .button.hashtag {
	color: unset;
}

.code {
	opacity: 0.6;
	font-size: .65rem;
	letter-spacing: -.6px;
	vertical-align: text-bottom;
}

button.button {
	font-size: .8rem;
	color: unset;
	line-height: 1;
	border-radius: 2px;
	border: 0;
	padding: .25rem .5rem;
	vertical-align: text-bottom;
	background: linear-gradient(to bottom, rgba(100, 100, 100, 0.1) 0px, rgba(100, 100, 100, 0.2));
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.hidden {
	display: none;
	user-select: none;
}

.text-wrap {
	opacity: 0.2;
	font-size: 1rem;
}

.text {
	opacity: 0.5;
	font-size: .65rem;
	letter-spacing: -.6px;
}

.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.strikethrough {
	text-decoration: line-through;
}

.underline.strikethrough {
	text-decoration: underline line-through;
}

.block-depth-0 {
	padding-left: 2ch;
}

.block-depth-1 {
	padding-left: 6ch;
	text-indent: -4ch;
}

.block-depth-2 {
	padding-left: 10ch;
	text-indent: -8ch;
}

.block-depth-3 {
	padding-left: 14ch;
	text-indent: -12ch;
}

.block-depth-4 {
	padding-left: 18ch;
	text-indent: -16ch;
}

.block-depth-5 {
	padding-left: 22ch;
	text-indent: -20ch;
}

.block-depth-6 {
	padding-left: 26ch;
	text-indent: -24ch;
}

.block-depth-7 {
	padding-left: 30ch;
	text-indent: -28ch;
}

.block-depth-8 {
	padding-left: 34ch;
	text-indent: -32ch;
}

.block-depth-9 {
	padding-left: 38ch;
	text-indent: -36ch;
}

.block-depth-10 {
	padding-left: 42ch;
	text-indent: -40ch;
}

.block-depth-11 {
	padding-left: 46ch;
	text-indent: -44ch;
}

.block-depth-12 {
	padding-left: 50ch;
	text-indent: -48ch;
}
